node_modules
.vscode
package-lock.json
yarn-error.log
.env

**/tmp/uploads/**
!**/tmp/uploads/README.md
!**/tmp/uploads/.gitkeep
!**/tmp/uploads/29c84f2f3779f13e8931fdc235c06cd6.jpg
!**/tmp/uploads/db543fead484523da94a75cbfc4f1349.jpeg
!**/tmp/uploads/ea1b5bb9a818ecc22686a00f78706acb.jpeg

**/dist/**
!**/dist/.gitkeep

database.sqlite

**/coverage/**

**/.DS_Store
